<!DOCTYPE html>
<html>
    <!--HEAD-->
    <head>
        <title>Turtles in Fridges</title>
        <link rel="stylesheet" href="/style.css" type="text/css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"
        />
    </head>
    <!--BODY-->
    <body>
        {{{body}}}
        <!-- JS and jQuery-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/script.js"></script>
    </body>
</html>
