<div class="body">
<!--Header-->
<header class="#">
        <a href="/profile/edit"><strong><p>Edit</p></strong></a>
        <p> | </p>
        <a href="/logout"><strong><p>Logout</p></strong></a>
</header>
    <!--Main Content-->
    <div class="headline">
        <div class="headlineLeft">
            <div class="headlinePadded">
                <h1><strong>Keep Tortoises in the Fridge for Winter</strong></h1>
            </div>
        </div>    
        <div class="headlineRight"></div>
    </div>    
    <div class="main">
        <div class="mainLeft">
            <div class="paddedTags">
                <p><strong>"The Tortoise Trust says fridges should be set at 5C (41F) – so that the pets do not get too cold – and they should be put in a box with air holes in the lid which is big enough for them to turn round in."</strong></p>
            </div>
        </div>
        <div class="mainMiddle"></div>
        <div class="mainRight">
                <div class="mainRightTopCall">
                    <h3><strong>Thank you for your signature!</strong></h3>
                </div>
            <div class="mainRightMiddle">
                {{#if error}}
                <p>So Sorry, something went wrong...</p>
                {{/if}}
            </div>        
            <div class="mainRightBottom">
                {{#if numberOfSigners}}
                <a href="/petition/signers"><h4>{{countSignatures}} people signed already! See who signed-up...</h4></a>
                <img src="{{signature}}"/>
                <form class ="deleteSignatureForm" action="" method="post">
                    <!--Hidden fields-->
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                    <!--Submit-->
                    <button class="deleteSignature" name="deleteSignature" type="submit" value="Delete Signature">Delete</button>
                </form>
                {{/if}}

            </div>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <p>by Clemens</p>
    </footer>
</div>